body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 120px;
}
.top-banner{
    background: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 7%;
    margin-top: 1rem;
}
.half-width img{
    width: 80%;
}
section p{
    margin-bottom: 2rem;
}

.link-button{
    text-decoration: none;
    background: linear-gradient(135deg, orange 60%, cyan);
    padding: 10px 40px;
    color: white;
    font-weight: 600;
    border-radius: .5rem;
}
.Dream-Big{
    background: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 7.5rem;
}
.container{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.container-box{
    box-shadow: 5px 5px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: .5rem;
    padding-left: 15px;
    
}
#full-stack{
    border-left: .4rem solid coral;
}
#baby-web{
    border-left: .4rem solid blue;
}
footer p{
    text-align: center;
}
/* .container .small-container{
    display: flex;
    background: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: left;
}
.container .small-container .box{
    width: 50%;
    padding-left: 2%;
    box-shadow:  5px 5px 10px;
    margin: 1rem 3rem 2rem;
    padding: 1rem;
    border: .5rem solid white;
    border-left-color: #F6725D;
    border-radius: .5rem;
}
.container .small-container .box h1{
    font-size: 2rem;
}
.container .small-container .box h3{
    color: orange;
} */